body 
{
    margin:0 0 0 0;
    font-family:Arial;
}
div.profile_section
{
    width:100%;
    height:100px;
}
div.tasks_section
{
    width:100%;
    
}
div.tasks_section td
{
    padding-left:10px;
    padding-top:4px;
    padding-bottom:4px;
    font-family:Arial;
    font-size:15pt;
}
div.search_bar
{
    margin:0px 0px 0px 200px;
}
div.search_bar form
{
}
div.search_bar_form
{
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
    background-image:url('searchform.png');
    background-repeat:no-repeat;
    background-position:left;
    width:275px;
    padding-left:60px;
}
input.search_form
{
    border:none;
    background:none;
    width:200px;
    font-size:9pt;
}
div.side_bar
{
    position:absolute;
    top:0px;
    width:200px;
}
div.main_content
{
    margin:0px 0px 0px 200px;
}
div.profile_picture
{
    text-align:left;
    padding-left:10px;
    padding-top:10px;
}
div.profile_picture img {
	display:block;
}
div.profile_picture a
{
    margin-left:5px;
}
div.profile_status
{
    text-align:left;
}
div.more_items
{
    text-align:center;
    font-size:8pt;
    margin:10pt;
    font-weight:bold;
}
.task_col1
{
    width: 37px;
    vertical-align:top;
}
.width_100_pct
{
    width: 100%;
}
.scrollable_x{
	overflow-x: hidden;
}
.gwt-TabPanelBottom{
	border-width: 0px 0px 0px 0px;
	padding: 0px;
}
div.tab_content{
	border-width: 1px 0px 0px 0px;
	border-color: gray;
	border-style: solid;
}
table.tab{
    float:left;
}

td.tab_tl{
 width:10px;
 height:10px;
 background-image:url('content_tl.png');
 background-repeat:no-repeat;
}
td.tab_tm{
 height:10px;
 background-image:url('content_t.png');
 background-repeat:repeat-x;
 background-position:top;
}
td.tab_tr{
 width:10px;
 height:10px;
 background-image:url('content_tr.png');
 background-repeat:no-repeat;
}
td.tab_m
{
    font-family:'Trebuchet MS';
    font-size:9pt;
    cursor:pointer;
    color:brown;
}
td.tab_l
{
 background-image:url('content_l.png');
 background-repeat:repeat-y;
 background-position:left;
}
td.tab_r
{
 background-image:url('content_r.png');
 background-repeat:repeat-y;
 background-position:right;
}

table.tab_selected{
    float:left;
}

td.tab_tl_selected{
 width:10px;
 height:10px;
 background-image:url('content_tl.png');
 background-repeat:no-repeat;
}
td.tab_tm_selected{
 height:10px;
 background-image:url('content_t.png');
 background-repeat:repeat-x;
 background-position:top;
}
td.tab_tr_selected{
 width:10px;
 height:10px;
 background-image:url('content_tr.png');
 background-repeat:no-repeat;
}
td.tab_m_selected
{
    font-weight:bold;
    cursor:pointer;
    color:brown;
}
td.tab_l_selected
{
 background-image:url('content_l.png');
 background-repeat:repeat-y;
 background-position:left;
}
td.tab_r_selected
{
 background-image:url('content_r.png');
 background-repeat:repeat-y;
 background-position:right;
}